/*
 =========================================================
 * Material Kit
 =========================================================
 */
@import "Material-Kit";



/*
 =========================================================
 * customize
 =========================================================
 */

:root{
  --GrColor: #56c2a4;
}

.navbar {
	padding: 0;
	background-color: transparent !important;
	box-shadow: 0 0 0 0 ;
}
.navbar:not(.navbar-transparent){
    color: white;
}
.navbar:hover:not(.navbar-transparent) {
    background-color: var(--GrColor) !important;
}
.navbar a {
    font-size: 1.3em !important;
}
.navbar ion-icon {
    font-size: 1.875rem;
}
.navbar:not(.navbar-transparent) a:not(.navbar-brand):hover:after {
    content: "";
    width: 100%;
    height: .3125rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
    background-color: #ffffff;
}
.navbar .navbar-nav .nav-item .nav-link:not([rel]){
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem; 
}
.navbar-brand {
    top: -0.9375rem;
}
.navbar-brand ion-icon {
    font-size: 3.75rem;
}


// 主要布局
.main-raised {
	box-shadow: 0 0 0 0 ;
}

.nav-link {
	box-shadow: 0 0 0 0 !important;
    text-transform: capitalize !important;
}

/* banner image */
.header-filter::before {
    background: rgba(0,0,0,0.25) ;
}

/* 链接 */
a {
    color: var(--GrColor);
    border-radius: .1875rem;
}
a:hover:not(.navbar-brand),
a:focus:not(.navbar-brand) {
    color: #00bcd4;
    text-decoration: none;
}

ion-icon {
    vertical-align: middle;
}

.btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover{
	box-shadow: 0 0 0 0 ;
}

/////////////////////////////////////////// index

.index-card{
    margin-top: 0rem;
    word-break: break-all;
}
.index-card {
    padding: 1.25rem 1rem;
    border-radius: .375rem;
}
.index-card:hover {
	box-shadow: 0rem 0rem 10rem var(--GrColor);
	transition: 0.3s;
}

.index-post-img{
    display:block; 
    width: 100%;
    height: 0;
    padding-top: 33%;
    background-position: center center;
    background-size:cover;
    border-radius: .375rem;
    box-shadow: 0rem 0rem 0rem;
}
// 首页文章头图
.post_index_image_container{
  width: 100%;
}



//////////////////////////////////// archive

/* archive categories */
.nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: var(--GrColor);
}
.nav-pills .nav-item .nav-link {
  font-size: 1rem;
}
.nav-pills .nav-item .nav-link.active {
//   box-shadow: 0 0 0 0 !important;
}

.card {
  box-shadow: 0 0rem 0rem 0 rgba(0,0,0,0.14), 0 .0625rem .0625rem -0.125rem rgba(0,0,0,0.2), 0 .0625rem .3125rem 0 rgba(0,0,0,0.12) ;
}


