<footer class="footer footer-default">
    <div class="container">
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <a href="https://github.com/NieLamu" target="_blank">NieLamu</a> X
            <a href="https://hexo.io/zh-cn/" target="_blank">HEXO</a>
            <%- theme.footer %>
        </div>
    </div>
</footer>

<script src="https://cdn.bootcss.com/ionicons/4.4.8/ionicons.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
<!-- bootcdn没有 -->
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.min.js"></script>
<script src="/js/material-kit.min.js?v=2.0.6" type="text/javascript"></script>

<script src="/js/main.js" type="text/javascript"></script>
<link href="/css/main.css" rel="stylesheet" />
<!-- MyFontsWebfontsKit -->
<link href="/css/MyFontsWebfontsKit.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
    $(':root').css('--bgColor', '<%= theme.main_color %>')
</script>

<% if(is_post()) { %>
<script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
<script src="/js/post.js" type="text/javascript"></script>
<link href="/css/post.css" rel="stylesheet" />
<% } else if (is_archive()){ %>
<script>
    $(document).ready(function () {
        const hash = window.location.hash;
        const pathname = window.location.pathname;
        if (pathname.includes('archives') && hash) {
            $('.card-body .tab-pane').each(function () {
                let ele = $(this);
                if ('#' + ele.attr('id') === hash) {
                    ele.addClass('active show');
                } else {
                    ele.removeClass('active show');
                }
            });
            $('.card-body .nav-link').each(function () {
                let ele = $(this);
                if (ele.attr('href') === hash) {
                    ele.addClass('active show');
                } else {
                    ele.removeClass('active show');
                }
            });
        }
    })
</script>
<% } %>
