<% banner_img = page.banner_img %>
<div class="row" style="margin: 0 0 0; z-index: 999;">
  <div class="col-md-8 offset-md-1">
    <div class="main main-raised">
      <div class="container">
        <div class="section">
          <% if (!!banner_img) {%>
          <div class="post_banner_img_container">
            <a style="background-image: url('<%- url_for(banner_img) %>');" href="<%- url_for(banner_img) %>" target="_blank" class="post_banner_img"></a> 
          </div>
          <% } %>
          <div class="post_content">
            <%- page.content %>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <!-- TOC -->
  <%- partial('../toc') %>
</div>